<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modules</key>
	<array>
		<dict>
			<key>Interface</key>
			<string>MainInformation</string>
			<key>ID</key>
			<string>selfhub.antropometry</string>
			<key>ExchangeFile</key>
			<string>antropometry.export.plist</string>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Interface</key>
			<string>WeightControl</string>
			<key>ID</key>
			<string>selfhub.weight</string>
			<key>ExchangeFile</key>
			<string>weight.export.plist</string>
			<key>Type</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
