<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>name</string>
			<key>keypath</key>
			<string>moduleData.name</string>
			<key>type</key>
			<string>NSString</string>
			<key>readonly</key>
			<true/>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>surname</string>
			<key>keypath</key>
			<string>moduleData.surname</string>
			<key>type</key>
			<string>NSString</string>
			<key>readonly</key>
			<false/>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>patronymic</string>
			<key>keypath</key>
			<string>moduleData.patronymic</string>
			<key>type</key>
			<string>NSString</string>
			<key>readonly</key>
			<true/>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>length</string>
			<key>keypath</key>
			<string>moduleData.length</string>
			<key>type</key>
			<string>NSNumber</string>
			<key>readonly</key>
			<false/>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>weight</string>
			<key>keypath</key>
			<string>moduleData.weight</string>
			<key>type</key>
			<string>NSNumber</string>
			<key>readonly</key>
			<false/>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>spirometry</string>
			<key>keypath</key>
			<string>moduleData.spirometry</string>
			<key>type</key>
			<string>NSNumber</string>
			<key>readonly</key>
			<false/>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>birthday</string>
			<key>keypath</key>
			<string>moduleData.birthday</string>
			<key>type</key>
			<string>NSDate</string>
			<key>readonly</key>
			<false/>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>thigh</string>
			<key>keypath</key>
			<string>moduleData.thigh</string>
			<key>type</key>
			<string>NSNumber</string>
			<key>readonly</key>
			<false/>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>waist</string>
			<key>keypath</key>
			<string>moduleData.waist</string>
			<key>type</key>
			<string>NSNumber</string>
			<key>readonly</key>
			<false/>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>chest</string>
			<key>keypath</key>
			<string>moduleData.chest</string>
			<key>type</key>
			<string>NSNumber</string>
			<key>readonly</key>
			<false/>
			<key>description</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
